@custom-variant dark (&:is(.dark *));
@import "tailwindcss";

/* Light theme (default) */
@theme {
    --color-bg: #ffffff;
    --color-text: #222222;
}

/* Dark theme override */
@layer theme {
    .dark {
        --color-bg: #18181b;
        --color-text: #f4f4f5;
    }
}

html,
body,
#root {
    height: 100%;
    width: 100%;
}

button {
    cursor: pointer;
}

/* Optionally: make other clickable tags behave the same */
a,
.clickable {
    cursor: pointer;
}

@keyframes scrollText {
    0% {
        transform: translateY(0%);
    }

    33% {
        transform: translateY(-100%);
    }

    66% {
        transform: translateY(-200%);
    }

    100% {
        transform: translateY(0%);
    }
}

.animate-scrollText {
    animation: scrollText 6s infinite steps(1);
    line-height: 1.25rem;
    /* Matches h-5 (20px) */
}